{{!< ../default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- Location: partials/header.hbs --}}
{{> "header"}}

{{!-- The main content area --}}
<main id="main-content" class="site-membership">

    <div class="container">
        {{#if @member.paid}} 
        {{!-- Logged in, paying member: Show account info --}}
        <div class="account-wrap paid">
            <h4 class="account-title">{{t "Account Details"}}</h4>

            {{#foreach @member.subscriptions}}
            <div class="account-info">

                {{#if cancel_at_period_end}}
                <div class="account-intro"><strong>{{t "Your subscription will expire on "}} {{date current_period_end format="DD MMM YYYY"}}.</strong> {{t "If you change your mind in the mean time you can turn auto-renew back on to continue your subscription."}}</div>
                {{else}}
                <div class="account-intro">{{t "Hey! You have an active {blogtitle} account with access to all areas. Get in touch if have any problems or need some help getting things updated, and thanks for subscribing." blogtitle=@site.title}}</div>
                {{/if}}

                <div class="account-details flex">
                    <div class="account-detail">
                        <label>{{t "Full name"}}</label>
                        <span>{{@member.name}}</span>
                    </div>

                    <div class="account-detail">
                        <label>{{t "Email address"}}</label>
                        <span>{{@member.email}}</span>
                    </div>

                    <div class="account-detail">
                        <label>{{t "Your plan"}}</label>
                        <span>{{plan.currency}} {{plan.currency_symbol}}<span class="plan-price">0</span>/{{plan.interval}}</span>
                        {{#contentFor "scripts"}}
                        <script>
                            $(document).ready(function () {
                                var planAmount = {{ plan.amount }} / 100;
                                $(".plan-price").html(planAmount);
                            });
                        </script>
                        {{/contentFor}}
                    </div>

                    <div class="account-detail">
                        <label>{{t "Card"}}</label>
                        <span>**** **** **** {{default_payment_card_last4}}</span>
                    </div>

                    <div class="account-detail">
                        <label>{{t "Started"}}</label>
                        <span>{{date start_date format="DD MMM YYYY"}}</span>
                    </div>

                    <div class="account-detail">
                        <label>
                        {{#if cancel_at_period_end}}
                            {{t "Expires"}}
                        {{else}}
                            {{t "Next bill date"}}
                        {{/if}}
                        </label>
                        <span>{{date current_period_end format="DD MMM YYYY"}}</span>
                    </div>
                </div>

                <div class="account-footer">
                    <a class="btn edit-billing" href="javascript:" data-members-edit-billing data-members-success="/account?action=billing-update-success" data-members-cancel="/account?action=billing-update-cancel">{{t "Edit billing info"}}</a>
                    {{cancel_link class="btn cancel-subscription" errorClass="cancel-subscription-error" cancelLabel=(t "Cancel subscription") continueLabel=(t "Continue subscription")}}
                </div>
            </div>
            {{/foreach}}
        </div>
        {{else if @member}}
        {{!-- Logged in, free member: Show account info --}}
        <div class="account-wrap free">
            <h4 class="account-title">{{t "Currently, you're not a paying subscriber."}}</h4>

            <div class="account-info">
                <div class="account-intro">
                    {{{t "Hey there! <strong>{memberemail}</strong> is subscribed to free updates from {blogtitle}, but doesn't have a paid subscription to unlock full access." memberemail=@member.email blogtitle=@site.title}}}
                </div>
                <div class="account-footer">
                    <a class="btn price-plans" href="/signup/">{{t "Become a member"}}</a>
                </div>
            </div>
        </div>  
        {{else}}
        {{!-- Not logged in: Redirect to signin --}}
        <script>window.location = '{{@site.url}}/signin/';</script>
        {{/if}}
    </div>

</main>

{{!-- Location: partials/footer.hbs --}}
{{> "footer"}}