{{!< ../default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{#if @member}}

{{!-- Location: partials/header.hbs --}}
{{> "header"}}

{{!-- Logged in, not paying: Check out --}}
<main id="main-content" class="site-subscribe-plans">

    <div class="container">
        <div class="subscribe-plan-heading">
            <h2>{{t "Choose your subscription"}}</h2>
            <p>{{t "Unlock full access to {blogtitle} and see the entire library of members-only content & updates" blogtitle=@site.title}}</p>
        </div>

        <div class="subscribe-plan-price flex">
            <div class="price-plan">
                <header class="price-plan-header">
                    <h3>{{t "Monthly"}}</h3>
                    <span>{{@price.currency_symbol}}</span><strong>{{@price.monthly}}</strong> / {{t "month"}}
                </header>
                <div class="price-plan-content">
                    <ul>
                        {{!-- You can edit plans features information list below --}}
                        <li>__ADD_YOUR_LIST_PLANS_HERE__</li>
                        {{!-- You can edit plans features information list above --}}
                    </ul>
                    <a class="button" href="javascript:;" data-members-plan="Monthly">{{t "Choose this plan"}}</a>
                </div>
            </div>
            <div class="price-plan">
                <header class="price-plan-header">
                    <h3>{{t "Yearly"}}</h3>
                    <span>{{@price.currency_symbol}}</span><strong>{{@price.yearly}}</strong> / {{t "year"}}
                </header>
                <div class="price-plan-content">
                    <ul>
                        {{!-- You can edit plans features information list below --}}
                        <li>__ADD_YOUR_LIST_PLANS_HERE__</li>
                        {{!-- You can edit plans features information list above --}}
                    </ul>
                    <a class="button" href="javascript:;" data-members-plan="Yearly">{{t "Choose this plan"}}</a>
                </div>
            </div>
        </div>
    </div>
    
</main>

{{!-- Location: partials/footer.hbs --}}
{{> "footer"}}

{{else}}

{{!-- Not logged in: Sign up --}}
<main id="main-content" class="site-subscription">
    <figure class="site-subscription-cover">
        <img src="{{@site.cover_image}}" />
    </figure>

    <div class="site-subscription-form">
        <div class="auth-header">
            <a href="{{@site.url}}"><span></span> {{t "Back to Homepage"}}</a>
        </div>
        <div class="auth-form-wrap">
            <div class="auth-form">
                <h4>{{t "Sign up to {blogtitle}" blogtitle=@blog.title}}</h4>
                <p>{{t "Don't have an account with Curious? Creating one takes just minutes."}}</p>

                <form data-members-form="signup">
                    <div class="form-submit flex">
                        <input data-members-email type="email" placeholder="yourmail@example.com" required="true"/>
                        <button type="submit"><span>{{t "Continue"}}</span></button>
                    </div>

                    <div class="response-message">
                        <div class="message-success">{{{t "<strong>Great!</strong> Check your inbox and click the link to complete signin."}}}</div>
                        <div class="message-error" data-members-error></div>
                    </div>
                </form>

                <small>{{{t "Already have an account? {signinlink}" signinlink="<a href='/signin/'>Sign in</a>"}}}</small>
            </div>
        </div>
    </div>
</main>

{{/if}}