{{!< default}}
{{!-- The tag above means: insert everything in this file into the {body} of the default.hbs template --}}

{{!-- Location: partials/header.hbs --}}
{{> "header"}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<main id="main-content" class="site-page">

    <div class="container">

        <article id="post" class="post-{{comment_id}} {{post_class}}">
	
            <div class="post-content">

                <header class="post-header">
                    
                    {{#if feature_image}}
                    <div class="post-cover">
                        <figure class="post-full-image">
                            <a href="{{img_url feature_image size="xl"}}">
                                {{!-- This is a responsive image, it loads different sizes depending on device
                                https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
                                <img
                                    srcset="{{img_url feature_image size="s"}} 300w,
                                            {{img_url feature_image size="m"}} 600w,
                                            {{img_url feature_image size="l"}} 1000w,
                                            {{img_url feature_image size="xl"}} 2000w"
                                    sizes="(max-width: 800px) 400px,
                                        (max-width: 1170px) 1170px,
                                            2000px"
                                    src="{{img_url feature_image size="xl"}}"
                                    alt="{{title}}"
                                />
                            </a>
                        </figure>
                    </div>
                    {{/if}}

                    <div class="post-meta">
                        <h1 class="post-title">{{title}}</h1>
                    </div>
                    
                </header>

                {{#unless access}}
                {{!-- if the user does not have access, show them an upgrade CTA --}}
                <div class="post-inner">

                    <div class="post-article {{#unless access}}no-access{{/unless}}">
                        <div class="post-article-blur post-access-{{visibility}}">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget augue quam. Suspendisse feugiat eros dapibus, auctor nulla eu, ultrices nibh. Aliquam felis justo, laoreet non sapien sit amet, vestibulum auctor est. Suspendisse sed accumsan urna. Fusce at rutrum augue. Curabitur rhoncus varius mauris eu feugiat. Curabitur ultrices orci libero. Donec ac sem ac nisi vulputate condimentum. Aliquam felis justo, laoreet non sapien sit amet. Donec eget augue quam. Suspendisse feugiat eros dapibus.</p>
                        </div>
                        <div class="post-member post-member-subscriber {{visibility}}">
                            <div class="post-member-label">
                                <h3>{{t "This post is for paying subscribers only"}}</h3>
                                <p>{{t "Upgrade your account to read the post and get access to the full library of posts for paying subscribers only."}}</p>
                            </div>
                            <a class="post-member-signup" href="/signup/">{{t "Sign up now"}}</a>
                        </div>
                        <div class="post-member post-member-public {{visibility}}">
                            <div class="post-member-label">
                                <h3>{{t "This post is for subscribers only"}}</h3>
                                <p>{{t "Sign up now to read the post and get access to the full library of posts for subscribers only."}}</p>
                            </div>
                            <a class="post-member-signup" href="/signup/">{{t "Sign up now"}}</a>
                        </div>
                    </div>

                </div>
                
                {{else}}
                {{!-- if the user has access to this post, show it to them --}}
                <div class="post-inner">

                    <div class="post-article">
                        {{#if custom_excerpt}}
                        <p class="post-excerpt">{{custom_excerpt}}</p>
                        {{/if}}
                        
                        {{content}}  
                    </div>
                    
                </div>
                {{/unless}}

            </div>

        </article>

    </div>

</main>

{{#if feature_image}}
<script>
$(document).ready(function() {
    $('.post-full-image a').simpleLightbox();
});
</script>
{{/if}}

{{/post}}

{{!-- Location: partials/footer.hbs --}}
{{> "footer"}}